:root {
  --white: #ffffff;
  --black: #333333;
  --purple: #6d06c6;
  --deeper-purple: #5d01a2;
  --lilac: #fdfaff;
  --grey-82: #828282;
  --main-purple: #6d06c6;
}
.outer {
  margin-left: 10vw;
}

.Backoffice_Log-in {
  width: 100%;
  height: 100%;
  /* padding: 0 216px 0 0; */
  display: flex;
  flex-direction: row;
  background-color: var(--white);
}
#my-superset-container {
  margin-top: 10vw;
}
.Rectangle-1082 {
  /* flex-basis: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  width: 40vw;
  height: 100vh;
  /* height: 1024px; */
  /* margin: 0 96px 0 0; */
  /* padding: 30% 12% 2% 2%; */

  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--deeper-purple);
}
.be-2 {
  /* width: 248px; */
  height: 30%;
  width: 60%;
  background-image: url("../lib/Be_logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* padding: auto; */
  margin: 0vh 20% 30vh 20%;
  /* height: 180px; */
}

.Be-Backoffice-2021-All-rights-reserved {
  width: 242px;
  height: 12px;
  /* margin: 32px 34px 0; */
  margin-left: 30%;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--grey-82);
}

.Rectangle-1092 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 30vw;
  /* height: 382px; */
  height: 50vh;
  margin: 15% 10%;
  /* padding: 40px 32px; */
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.Agreements-Section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  cursor: pointer;

  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}
.Agreements-Section2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  /* color: var(--black); */
  color: var(--grey-82);
  margin: 2%;
}
.Welcome-back {
  /* margin: 0 112px 48px 53px; */
  margin: 2vh auto;

  font-family: Montserrat;
  font-size: 3vh;

  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--text-black);
}
.Sub-heading {
  /* width: 112px;
  height: 14px;
  margin: 48px 112px 24px 0; */
  margin: 1vh 2vh 1vh;
  margin-top: 0.5vh;
  font-family: Montserrat;
  font-size: 2vh;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--text-black);
}
.Label {
  font-family: Montserrat;
  /* display: block; */
  font-size: 1.75vh;
  margin: 2vh 1vw;
  font-weight: 500;
  /* width: 100%; */
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--grey-82);
}
.Input {
  /* width: 141px; */
  /* height: 14px; */
  width: 90%;
  height: 2vh;
  margin: 2vh 1vw;
  /* margin: 8px 106px 10px 8px; */
  border: none;
  border-bottom: solid #333333 1 px;
  font-family: Montserrat;
  font-size: 1.75vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--grey-82);
  box-shadow: 0 0 0.7px 0 var(--grey-82);
  border-bottom: groove 1px var(--grey-82);
  border-radius: 2px;
  /* border-bottom: 1px inset #000; */
}
.t-Input {
  border: none;
  text-align: right;
  cursor: auto;
  margin-right: 0.5vw;
}
.signInConponents {
  margin: auto;
  /* display: flex; */
  justify-content: space-between;
  justify-content: "space";
  align-content: center;
}
.FormText {
  width: 80%;
  height: 4vh;
  /* margin: 16px 0 48px; */
  /* margin: 2vh; */
  margin: auto;
  /* margin-top: 3%; */
  font-family: Montserrat;
  font-size: 2vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.4; */
  letter-spacing: normal;
  text-align: center;
  color: var(--text-black);
}
.Button {
  width: 8.5vw;
  height: 5vh;
  flex-grow: 0;
  font-size: 1.75vh;
  margin: 0vh 10vh;
  /* margin: 64px 95px 0 0; */
  /* margin: 0.5rem 1rem; */

  border: solid 1px var(--main-purple);
  /* padding: 13px 55px; */
  border-radius: 100px;
  background-color: var(--main-purple);
  color: #ffffff;
}
.Button:hover {
  background-color: white;
  color: var(--main-purple);
  cursor: pointer;
}
.Small-Button {
  width: 7vw;
  height: 4vh;
  flex-grow: 0;
  font-size: 1.75vh;
  margin: 2.5vh 10vh;

  /* margin: 64px 95px 0 0; */
  /* margin: 0.5rem 1rem; */

  border: solid 1px var(--main-purple);
  /* padding: 13px 55px; */
  border-radius: 100px;
  background-color: var(--main-purple);
  color: #ffffff;
}
.Small-Button:hover {
  background-color: white;
  color: var(--main-purple);
  cursor: pointer;
}
.Smaller-Button {
  width: 4vw;
  height: 3vh;
  flex-grow: 0;
  font-size: 1.5vh;

  /* margin: 64px 95px 0 0; */
  /* margin: 0.5rem 1rem; */
  /* margin: 0 10vh; */

  border: solid 1px var(--main-purple);
  /* padding: 13px 55px; */
  border-radius: 100px;
  background-color: var(--main-purple);
  color: #ffffff;
}
.Smaller-Button:hover {
  background-color: white;
  color: var(--main-purple);
  cursor: pointer;
}
.clickable-button {
  font-family: Montserrat;
  font-size: 2vh;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: var(--text-black);
  cursor: pointer;
  text-decoration: underline;
}
.Lower {
  display: none;
}
.top-span {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.container {
  position: relative;
}
.overlay-span-1 {
  position: absolute;
  top: 1vw;
  left: 70%;

  /* margin: 1px 8px; */
  font-family: Montserrat;
  font-size: 2vh;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  cursor: pointer;
  color: var(--text-black);

  /* Add any other styles for the spans */
}
.overlay-span-2 {
  position: absolute;
  top: 1vw;
  left: 50%;
  cursor: pointer;
  margin-left: 0vw;
  font-family: Montserrat;
  font-size: 2vh;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--text-black);
}
.image_language {
  margin: 2px;
}
.clickable {
  cursor: pointer;
  color: blue;
}

.file-input-container {
  width: 95%;
  margin: auto;
  margin-top: 1vh;
  text-align: center;
  height: 15vh;
  border: dashed var(--grey-82) 1px;
}

.file-input-container input[type="file"] {
  display: none;
}

.file-input-container label.upload-button-label {
  margin: auto;
  display: block;
  width: 20%;
  padding: 8px;

  background-color: #eaeaea;
  text-align: center;
  cursor: pointer;
}
#mobile-logo {
  display: none;
}

@media screen and (max-width: 1100px) {
  .Rectangle-1092 {
    width: 50vw;
    margin: auto;
  }
  .outer {
    margin-left: 5vw;
  }
  /* .Backoffice_Log-in {
    background-color: var(--deeper-purple);
  } */
  .Smaller-Button {
    width: 8vw;
  }
  .Small-Button {
    width: 10vw;
  }
  .Button {
    width: 11vw;
  }
}

@media screen and (max-width: 700px) {
  body {
    background-color: var(--deeper-purple);
  }
  .Rectangle-1082 {
    display: none;
  }
  .Lower {
    display: none;
  }

  .Rectangle-1092 {
    width: 80vw;
    /* height: 120vh; */
    overflow: auto;
    /* margin-top: 0px; */
  }
  .Backoffice_Log-in {
    background-color: var(--deeper-purple);
  }
  .Smaller-Button {
    width: 8vw;
  }
  .Small-Button {
    width: 10vw;
  }
  .Button {
    width: 11vw;
    /* height: 12vh; */
  }
  .Input {
    width: 95%;
  }

  #mobile-logo {
    /* width: 60%; */
    display: block;
    background-image: url("../lib/Be_logo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* padding: auto; */
    margin: 5vh 10vw 0vh 20%;
  }
  .Label {
    font-size: 2vh;
  }
  .Input {
    font-size: 2vh;
    height: 4vh;
  }
  .Welcome-back {
    font-size: 3.5vh;
    margin-top: 18vh;
  }
  .FormText {
    font-size: 2.5vh;
    margin-bottom: 5vh;
  }
  .overlay-span-2 {
    left: 10%;
    color: var(--white);
  }
  .overlay-span-1 {
    color: var(--white);
  }
  .Button {
    width: 16vw;
    margin-top: 2vh;
    margin-bottom: 5vh;
  }
  .Lower {
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .Rectangle-1092 {
    width: 95vw;
  }
  .outer {
    margin-left: 2.5vw;
  }
  .Smaller-Button {
    width: 15vw;
  }
  .Small-Button {
    width: 17vw;
  }
  .Button {
    width: 20vw;
  }
}
